{% extends 'layout.html' %}
{% include 'header.html'%}
{% block content %}
<body>


  
   <div class="form-group">
    <div class="col-md-8 text-right">
      <h1 >CTS TMA</h1>
    
    </div>
    </div>

    <h1 style="   font-size: 50px;
    font-weight: 700;
    color:red ; padding: 0 55px;" >CTS TMA</h1>



    <div class="">
        <h1 style="text-align: center;">Thông Tin Cá Nhân</h1>
     <div style="padding: 0 100px;" class="form-group" >
    <img src="https://img4.thuthuatphanmem.vn/uploads/2020/03/23/anh-de-thuong-cua-rose-black-pink_051300075.jpg" alt="Avatar" style="width:80px;height:80px;border:0;" class="avatar">
      </div>
    <a style="padding: 0 100px;" href="$">Upload file</a>
    <form action= "/capnhat" method="POST"> 
    
    {%with messages = get_flashed_messages()%}

    {%if messages%}

    {% for message in messages %}

    <div class="alert alert-success alert-dismissable" role="alert">

     <button type="button" class="close" data-dismiss="alert" aria-label ="close">

         <span aria-hidden="true">&times;</span>

     </button>
        {{message}}


    </div>


    {%endfor%}
    {%endif%}
    {%endwith%}
    {% for e in employee %}
    <div style="padding: 0 100px;" class="form-group">
    <div class="col-md-6.5 text-right">
        <label name ="editdiem" value ="e.9"><b>Điểm:{{e.9}}</b></label>
        
    </div>
    </div>
    <div style="padding: 0 100px;" class="form-group">
      <label for="usr">Họ Tên:</label>
      <input type="text" class="form-control" value="{{e.3}}" name="edithoten" required>
    </div>
    <div style="padding: 0 100px;" class="form-group">
      <div class="row">
                <div class="col">
                    <label for="pwd">Địa Chỉ:</label>
                    <input type="text" class="form-control" value="{{e.5}}"name="editdiachi" required>
                </div>
                <div class="col">
                    <label for="pwd">Email:</label>
                    <input type="email" readonly class="form-control"value="{{e.1}}" name="editemail" required>
                </div>
        </div>    
    </div>
    <div style="padding: 0 100px;" class="form-group">
      <div class="row">
                <div class="col">
                    <label for="pwd">Ngày sinh:</label>
                    <input type="date" class="form-control" value="{{e.4}}"name="editngaysinh"required>
                </div>
                <div class="col">
                    <label for="pwd">Số Điện Thoại:</label>
                    <input type="number" class="form-control" value="{{e.8}}"name="editsodt"required>
                </div>
        </div>        	
    </div>

    <div style="padding: 0 100px;" class="form-group">
      <div class="row">
                <div class="col">
                    <label for="pwd">Chức vụ:</label>
                    <input type="text" class="form-control" value="{{e.7}}"name="editchucvu"required>
                </div>
                <div class="col">
                    
                     <div class="input-group-prepend">
                    <label class="input-group-text"  for="inputGroupSelect01">Giới Tính</label>
                </div>
                <select class="custom-select" name ="select"   id="inputGroupSelect01">
                    <option selected value="{{e.6}}" >{{e.6}}</option>
                    {% for  o in data  %}
                    <option value="{{ o.name }}">{{ o.name }}</option>
                    {% endfor %}
                </select>
                </div>
        </div>        	
    </div>
{% endfor %}
    <div style="padding: 0 100px;" class = "form-group">
        <div class="col" align="center">
            <button type="submit" class="btn btn-primary">Cập Nhật</button>
        </div> 
        <div class="col-md-6.5 text-right">
        <a for="pwd" href="" data-toggle="modal" data-target="#myModal">Đổi mật khẩu</a>
        </div >
      </form>


        
        <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title" align = "center">Đổi Mật Khẩu</h4>
        </div>
        <div class="modal-body">
          <form action="/" method="POST">
           <div class="form-group">
                <label for="usr">Mật Khẩu Cũ:</label>
                <input type="password" class="form-control"name="editmkcu">
            </div>
            <div class="form-group">
                <label for="usr">Mật Khẩu Mới:</label>
                <input type="password" class="form-control" name="editmkcu">
            </div>
            <div class="form-group">
                <label for="usr">Nhập Lại Mật Khẩu Mới:</label>
                <input type="password" class="form-control" name="editmkcu">
            </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type='submit'>Cập Nhật</button>
          <button type="button"class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
      </form>
      
      </div>
      
    </div>
  </div>
  </form>
</div>
</body>

{% endblock  %}