
    <head>
        <meta charset="UTF-8">
    </head>
  <body class="container">
    <h1 align="center" style="color: red">CTS TMA<br> </h1>
    <h4>Xin chào {{email}}</h4></h4>
    <p>Link xác nhận của bạn là:</p> 
    <br>
    <p style="color: steelblue;" align="center">{{link}}</p>
    <br>
    <p>Mã xác nhận của bạn tồn tài trong 5 phút </p>
    <p>Cảm ơn bạn,</p>
    <p>CTS TMA</p>
    <div style="margin-top:32px;border-top:1px solid #ececec"></div>
  </body>


<style>
    html{
        background-image: url(/static/login1.jpg);
        height: 80vh;
        min-height: 300px;
        background: no-repeat scroll center scroll;
        background-size: cover;
        
    }
    html::before{
        background: #000;
        opacity: 0,9;
       
    }
    p{
        color:rgba(79, 28, 182, 0.849)
    }
    .container{
        width:50%;
      
    }
</style>
