<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
</head>

{% if session['idname'] =="abc"%}
<header>
<body>
  <nav class="navbar">
    <div class="content">
      <div class="logo">
        <a href="#">Hello Admin</a>
      </div>
      <ul class="menu-list">
        <div class="icon1 cancel-btn">
          <i class="fas fa-times"></i>
        </div>
        <li class="active"><a href="/home">Trang chủ</a></li>
        <li><a href="/nhiemvu">Quản lí nhiệm vụ</a></li>
        <li><a href="/employee">Quản lí nhân viên</a></li>
        <li><a href="/doithuong">Đổi thường</a></li>
        <li><a href="#">Thông báo</a></li>
        <li><a href="/logout">Đăng xuất</a></li>
      </ul>
      <div class="icon1 menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </nav>
</header>

{% endif %}

{% if session['idname'] !="abc"%}
<header>

  <nav class="navbar">
    <div class="content">
      <div class="logo">
        <a href="#">Hello Member</a>
      </div>
      <ul class="menu-list">
        <div class="icon1 cancel-btn">
          <i class="fas fa-times"></i>
        </div>
        <li class="active" ><a  href="/">Trang chủ</a></li>
        <li><a href="/nhiemvuuser">Danh sách nhiệm vụ</a></li>
        <li><a href="/canhanuser">Thông tin cá nhân</a></li>
        <li><a href="/doithuonguser">Đổi quà</a></li>
        <li><a href="#about">Thông báo</a></li>
        <li><a href="/logout">Đăng xuất</a></li>
      </ul>
      <div class="icon1 menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </nav>

</header>
{% endif %}
  <script>
    const body = document.querySelector("body");
    const navbar = document.querySelector(".navbar");
    const menuBtn = document.querySelector(".menu-btn");
    const cancelBtn = document.querySelector(".cancel-btn");
    menuBtn.onclick = ()=>{
      navbar.classList.add("show");
      menuBtn.classList.add("hide");
      body.classList.add("disabled");
    }
    cancelBtn.onclick = ()=>{
      body.classList.remove("disabled");
      navbar.classList.remove("show");
      menuBtn.classList.remove("hide");
    }
  </script>

  <script type="text/javascript">
    $(document).on('click','ul li', function(){
      $(this).addClass('active').siblings().removeClass('active')
    })
  </script>

